body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap_timer{
  position: relative;
  margin-left: 10%;
  display: inline-block;
}

.wrap_timer_button{
  position:absolute;
  left: 250px;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  background-color: white;
}

.wrap_timer_input{
  margin-left: 200px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: whitesmoke;
  border: 1px lightgray solid;
}

.wrap_timer_input_task{
  margin-left: 270px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  width: 230px;
  height: 30px;
  background-color: whitesmoke;
}

.wrap_timer_table{
  text-align: center;
  margin-top: 100px;
}

.wrap_timer_table_tr_td{

  background-color: whitesmoke;
}


.wrap_timer_table_button{
  width: 100px;
  height: 40px;
}

.task_info{
  width: 50%;
  margin-left: 24%;
}




